@import "tailwindcss";

@theme inline {
  --font-general: var(--font-general);
  --font-cabinet: var(--font-cabinet);
}

body {
  background: #fdfdfd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}